body {
  background-color: #232323;
}

.square {
  background: purple;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  color: white;
}

#stripe {
  padding-top: 5px;
  color: black;
  background-color: white;
  height: 60px;
  text-align: center;
}

/* #message {
  float: left;
  height: 40px;
} */

#reset {
  height: 30px;
  width: 100px;
}